* {
  transition: all .5s ease;
}

.myNavbar {
  margin-bottom: 0px;
  padding: 15px 50px;
  background: #1B6D3F;
  font-size: 25px;
  color: white;
}
.myNav{
  background: none;
  color: #A8B5AC;
  font-size: 18px;
   margin-bottom: 0px;
  padding: 15px 40px;
}
.myBtn{
  background-color: #1B6D3F;
  margin-top: 40px;
}
.hr{
  width: 70px;
  height: 2px;
  background-color: #1B6D3F;
}
hr{
  width: 70px;
  height: 2px;
  background-color: #1B6D3F; 
}
#about {
  height: 700px;
  background: url(../images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fullPadding{
  padding: 100px 0px;
}
.h1{
  margin-top: 70px;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.p{
  margin: 0 auto;
  width: 50%;
  font-size: 25px;
  color: white;
}
p{
  color: #767676;
  font-size: 20px;
}
#services {
  height: 600px;
  padding: 50px 110px;
}
.rowPadding {
  padding-top: 50px;
}

#gallery {
  height: 700px;
}

.galleryItem {
  margin: 0 auto;
  width: 80%;
}

.item {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
}

.photosItem {
  margin: 0 auto;
  width: 100%;
}
.button{
  width: 50%;
  margin: 0 auto;
}
.button ul{
  list-style-type: none;
}
.button ul li{
  display: inline-block;
  margin: 20px;
}
.button ul li:first-child>button{
  color: white;
  background: #1B6D3F; 
}
.button ul li button{
  border: none;
  color: #676767;
  background: white;
}
.button ul li button:hover{
  background: #1B6D3F; 
}
.col {
  border-bottom: 20px solid white;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
}
#testimonials i{
  color: #E6E6E6;
  margin-top: 50px;
}
#testimonials p{
  margin: 0 auto;
  padding-bottom: 70px;
  margin-top: 20px;
  width: 70%;
}
.title {
  margin: 0 auto;
  text-align: center;
}

#quote {
  height: 300px;
  background: url(../images/quote-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.quoteItem {
  height: 100%;
  width: 100%;
   opacity: 0.5;
  background: black;
}
#quote h1{
  color:#FFFFFF;
  margin-top: 70px;
}
#contact{
  height: 620px;
}
#contact .contactItemFirst{
  margin-bottom: 40px;
  margin-top: 40px;
  width: 55%;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
  text-align: center;
  color: #393939;
}
#contact .contactItemFirst input{
  width: 400px;
  height: 40px;
  margin-left: 20px;

}
#contact .contactItemSecond{
  width: 55%;
  padding: 0;
}
#contact .contactItemSecond input{
  margin-top: 15px;
  height: 90px;
  border: 1px solid lightgray;
  width: 825px;
  float: left;
}
.contactFooter{
  margin: 0 auto;
  width: 60%;

}
.contactFooter h1{
  font-size: 20px;
  color: #333333;
}
.contactFooter p{
  font-size: 18px;
}
footer{
  height: 190px;
  background: #333333;
}
.footer .item{
  padding-top: 50px;
}
.item i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  background: #777;
  color: #222;
  border-radius: 100%;
}
.item p{
  color: #545454;
  font-size: 17px;
  padding-top: 36px;
}